@model SISPTD.Models.DistribProcesso
<h3><i class="glyphicon glyphicon-book"> </i> Distribuir Processo</h3>
<span class="text-danger pull-right"><i class="glyphicon glyphicon-info-sign "></i> Os campos com o marcador (*)  são de preenchimento obrigatório.</span>
<br />
@Html.Partial("_Formulario", Model)


@*<a href="#" onclick="history.back()">Voltar</a>*@

