<div class="container">
    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-warning alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@Html.Raw(TempData["Sucesso"]) </strong>
        </div>

    }
   @if (TempData["Erro"] != null)
   {
    <div class="alert alert-warning alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>ATENÇÃO!</strong><br />
        <stron>@TempData["Erro"]</stron>
    </div>
   } 
</div>





