<div style="border:0px;">
    <div class="menu-lateral">
        <ul class="list-group ">


            <li>
                <a href="@Url.Action("Index", "Movimentacao")">
                    <span class="glyphicon glyphicon-transfer"></span>
                    <span>Distribuir </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Pericia")">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span>Solicita Pericia </span>
                </a>
            </li>

        </ul>

    </div>
</div>
