<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" tada-toggle="tab">Paciente</a></li>
        <li><a href="#">Paciente</a></li>
        <li><a href="#">Distribuir Processo</a></li>
        <li><a href="#">Agendamento</a></li>
        <li><a href="#">Requisição</a></li>
    </ul>
</div>
