@model SISPTD.Models.Agendamento
<h3>Agendamento de Paciente</h3>
<hr />
<input type="hidden" id="idDoPacienteAgendamento" name="pacienteId" value="@ViewBag.pacienteId" />
<input type="hidden" name="processoId" value="@ViewBag.processoId" />
@Html.Partial("_Formulario", Model)


