USE [master]
GO
/****** Object:  Database [DbSPTD]    Script Date: 26/02/2016 17:55:05 ******/
CREATE DATABASE [DbSPTD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSPTD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DbSPTD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DbSPTD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DbSPTD_log.ldf' , SIZE = 57664KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSPTD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSPTD]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Agen_Clinica]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agen_Clinica](
	[Agen_CliniciaId] [bigint] IDENTITY(1,1) NOT NULL,
	[fk_Clinica] [bigint] NULL,
	[fk_Agendamento] [bigint] NULL,
 CONSTRAINT [PK_Agen_Clinica] PRIMARY KEY CLUSTERED 
(
	[Agen_CliniciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Agendamento]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agendamento](
	[agendamentoId] [bigint] IDENTITY(1,1) NOT NULL,
	[dt_Agendamento] [datetime] NULL,
	[dt_Marcacao] [datetime] NULL,
	[fk_Pessoa] [bigint] NULL,
	[fk_Usuario] [bigint] NULL,
 CONSTRAINT [PK_Agendamento] PRIMARY KEY CLUSTERED 
(
	[agendamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cid]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cid](
	[cidId] [bigint] IDENTITY(1,1) NOT NULL,
	[codigoCid] [varchar](5) NULL,
	[descricao] [varchar](150) NULL,
 CONSTRAINT [PK_Cid] PRIMARY KEY CLUSTERED 
(
	[cidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cidades](
	[IdCidade] [int] NOT NULL,
	[Cidade] [varchar](100) NOT NULL,
	[IdEstado] [int] NOT NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[IdCidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clinica]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clinica](
	[clinicaId] [bigint] IDENTITY(1,1) NOT NULL,
	[nome_Clinica] [varchar](150) NULL,
	[fk_Cidade] [int] NULL,
	[tel_Clinica] [varchar](10) NULL,
 CONSTRAINT [PK_Clinica] PRIMARY KEY CLUSTERED 
(
	[clinicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DistribProcesso]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DistribProcesso](
	[distrib_ProcessoId] [bigint] IDENTITY(1,1) NOT NULL,
	[origem] [bigint] NULL,
	[destino] [bigint] NOT NULL,
	[observacoes] [varchar](max) NULL,
	[fk_PessoaId] [bigint] NOT NULL,
	[usuarioEnviou] [bigint] NOT NULL,
	[fk_Pericia] [bigint] NULL,
	[usuarioRecebeu] [bigint] NULL,
 CONSTRAINT [PK_DistribProcesso] PRIMARY KEY CLUSTERED 
(
	[distrib_ProcessoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Endereco](
	[enderecoId] [bigint] IDENTITY(1,1) NOT NULL,
	[fk_CidadeId] [int] NOT NULL,
	[rua] [varchar](150) NOT NULL,
	[numero] [varchar](5) NOT NULL,
	[cep] [varchar](8) NULL,
	[bairro] [nchar](10) NULL,
	[fk_Pessoa] [bigint] NULL,
	[Pessoa_pessoaId] [bigint] NULL,
 CONSTRAINT [PK_Endereco] PRIMARY KEY CLUSTERED 
(
	[enderecoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Especialidade]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Especialidade](
	[EspecialidadeId] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NULL,
 CONSTRAINT [PK_Especialidade] PRIMARY KEY CLUSTERED 
(
	[EspecialidadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Sigla] [char](2) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemRequisicao]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemRequisicao](
	[itemId] [bigint] IDENTITY(1,1) NOT NULL,
	[fk_Pessoa] [bigint] NOT NULL,
	[fk_Requisicao] [bigint] NULL,
	[fk_Trecho] [bigint] NOT NULL,
 CONSTRAINT [PK_ItemRequisicao] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medico]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medico](
	[medicoId] [bigint] IDENTITY(1,1) NOT NULL,
	[fk_Especialidade] [bigint] NULL,
	[fk_PessoaId] [bigint] NOT NULL,
	[crm_Medico] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[medicoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pericia]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pericia](
	[periciaId] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](max) NOT NULL,
	[fk_CidId] [bigint] NULL,
	[dt_Pericia] [datetime] NOT NULL,
	[fk_MedicoId] [bigint] NOT NULL,
	[situacao] [int] NULL,
	[fk_PessoaId] [bigint] NOT NULL,
 CONSTRAINT [PK_Pericia] PRIMARY KEY CLUSTERED 
(
	[periciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pessoa](
	[pessoaId] [bigint] IDENTITY(1,1) NOT NULL,
	[pessoaPai] [bigint] NULL,
	[dt_Cadastro] [datetime] NULL,
	[cpf] [varchar](25) NOT NULL,
	[cns] [varchar](25) NULL,
	[rg] [varchar](25) NULL,
	[orgaoemissor] [varchar](10) NULL,
	[dt_Emissao] [datetime] NULL,
	[nome] [varchar](160) NOT NULL,
	[dt_Nascimento] [datetime] NOT NULL,
	[email] [varchar](50) NULL,
	[nome_Mae] [varchar](150) NOT NULL,
	[nome_Pai] [varchar](150) NOT NULL,
	[tel] [varchar](20) NOT NULL,
	[cel] [varchar](20) NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[pessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Requisicao]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Requisicao](
	[requisicaoId] [bigint] IDENTITY(1,1) NOT NULL,
	[fk_UsuarioId] [bigint] NULL,
	[observacoes] [varbinary](max) NULL,
 CONSTRAINT [PK_Requisicao] PRIMARY KEY CLUSTERED 
(
	[requisicaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Setor]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Setor](
	[setorId] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](25) NULL,
 CONSTRAINT [PK_Tramite] PRIMARY KEY CLUSTERED 
(
	[setorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trecho]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trecho](
	[trechoId] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varbinary](12) NULL,
 CONSTRAINT [PK_Trecho] PRIMARY KEY CLUSTERED 
(
	[trechoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/02/2016 17:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[usuarioId] [bigint] IDENTITY(1,1) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
	[fk_PessoaId] [bigint] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Pessoa_pessoaId]    Script Date: 26/02/2016 17:55:05 ******/
CREATE NONCLUSTERED INDEX [IX_Pessoa_pessoaId] ON [dbo].[Endereco]
(
	[Pessoa_pessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agen_Clinica]  WITH CHECK ADD  CONSTRAINT [FK_Agen_Clinica_Agendamento] FOREIGN KEY([fk_Agendamento])
REFERENCES [dbo].[Agendamento] ([agendamentoId])
GO
ALTER TABLE [dbo].[Agen_Clinica] CHECK CONSTRAINT [FK_Agen_Clinica_Agendamento]
GO
ALTER TABLE [dbo].[Agen_Clinica]  WITH CHECK ADD  CONSTRAINT [FK_Agen_Clinica_Clinica] FOREIGN KEY([fk_Clinica])
REFERENCES [dbo].[Clinica] ([clinicaId])
GO
ALTER TABLE [dbo].[Agen_Clinica] CHECK CONSTRAINT [FK_Agen_Clinica_Clinica]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Agendamento_Pessoa] FOREIGN KEY([fk_Pessoa])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[Agendamento] CHECK CONSTRAINT [FK_Agendamento_Pessoa]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Agendamento_User] FOREIGN KEY([fk_Usuario])
REFERENCES [dbo].[User] ([usuarioId])
GO
ALTER TABLE [dbo].[Agendamento] CHECK CONSTRAINT [FK_Agendamento_User]
GO
ALTER TABLE [dbo].[Cidades]  WITH CHECK ADD  CONSTRAINT [FK_Cidades_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Cidades] CHECK CONSTRAINT [FK_Cidades_Estado]
GO
ALTER TABLE [dbo].[Clinica]  WITH CHECK ADD  CONSTRAINT [FK_Clinica_Cidades] FOREIGN KEY([fk_Cidade])
REFERENCES [dbo].[Cidades] ([IdCidade])
GO
ALTER TABLE [dbo].[Clinica] CHECK CONSTRAINT [FK_Clinica_Cidades]
GO
ALTER TABLE [dbo].[DistribProcesso]  WITH CHECK ADD  CONSTRAINT [FK_DistribProcesso_Pericia] FOREIGN KEY([fk_Pericia])
REFERENCES [dbo].[Pericia] ([periciaId])
GO
ALTER TABLE [dbo].[DistribProcesso] CHECK CONSTRAINT [FK_DistribProcesso_Pericia]
GO
ALTER TABLE [dbo].[DistribProcesso]  WITH CHECK ADD  CONSTRAINT [FK_DistribProcesso_Pessoa] FOREIGN KEY([fk_PessoaId])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[DistribProcesso] CHECK CONSTRAINT [FK_DistribProcesso_Pessoa]
GO
ALTER TABLE [dbo].[DistribProcesso]  WITH CHECK ADD  CONSTRAINT [FK_DistribProcesso_Setor] FOREIGN KEY([origem])
REFERENCES [dbo].[Setor] ([setorId])
GO
ALTER TABLE [dbo].[DistribProcesso] CHECK CONSTRAINT [FK_DistribProcesso_Setor]
GO
ALTER TABLE [dbo].[DistribProcesso]  WITH CHECK ADD  CONSTRAINT [FK_DistribProcesso_Setor1] FOREIGN KEY([destino])
REFERENCES [dbo].[Setor] ([setorId])
GO
ALTER TABLE [dbo].[DistribProcesso] CHECK CONSTRAINT [FK_DistribProcesso_Setor1]
GO
ALTER TABLE [dbo].[DistribProcesso]  WITH CHECK ADD  CONSTRAINT [FK_DistribProcesso_User] FOREIGN KEY([usuarioEnviou])
REFERENCES [dbo].[User] ([usuarioId])
GO
ALTER TABLE [dbo].[DistribProcesso] CHECK CONSTRAINT [FK_DistribProcesso_User]
GO
ALTER TABLE [dbo].[DistribProcesso]  WITH CHECK ADD  CONSTRAINT [FK_DistribProcesso_User1] FOREIGN KEY([usuarioRecebeu])
REFERENCES [dbo].[User] ([usuarioId])
GO
ALTER TABLE [dbo].[DistribProcesso] CHECK CONSTRAINT [FK_DistribProcesso_User1]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Endereco_dbo.Pessoa_Pessoa_pessoaId] FOREIGN KEY([Pessoa_pessoaId])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_dbo.Endereco_dbo.Pessoa_Pessoa_pessoaId]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_Endereco_Cidades] FOREIGN KEY([fk_CidadeId])
REFERENCES [dbo].[Cidades] ([IdCidade])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_Endereco_Cidades]
GO
ALTER TABLE [dbo].[ItemRequisicao]  WITH CHECK ADD  CONSTRAINT [FK_ItemRequisicao_Pessoa] FOREIGN KEY([fk_Pessoa])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[ItemRequisicao] CHECK CONSTRAINT [FK_ItemRequisicao_Pessoa]
GO
ALTER TABLE [dbo].[ItemRequisicao]  WITH CHECK ADD  CONSTRAINT [FK_ItemRequisicao_Requisicao] FOREIGN KEY([fk_Requisicao])
REFERENCES [dbo].[Requisicao] ([requisicaoId])
GO
ALTER TABLE [dbo].[ItemRequisicao] CHECK CONSTRAINT [FK_ItemRequisicao_Requisicao]
GO
ALTER TABLE [dbo].[ItemRequisicao]  WITH CHECK ADD  CONSTRAINT [FK_ItemRequisicao_Trecho1] FOREIGN KEY([fk_Pessoa])
REFERENCES [dbo].[Trecho] ([trechoId])
GO
ALTER TABLE [dbo].[ItemRequisicao] CHECK CONSTRAINT [FK_ItemRequisicao_Trecho1]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Especialidade] FOREIGN KEY([fk_Especialidade])
REFERENCES [dbo].[Especialidade] ([EspecialidadeId])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Especialidade]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Pessoa] FOREIGN KEY([fk_PessoaId])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[Medico] CHECK CONSTRAINT [FK_Medico_Pessoa]
GO
ALTER TABLE [dbo].[Pericia]  WITH CHECK ADD  CONSTRAINT [FK_Pericia_Cid] FOREIGN KEY([fk_CidId])
REFERENCES [dbo].[Cid] ([cidId])
GO
ALTER TABLE [dbo].[Pericia] CHECK CONSTRAINT [FK_Pericia_Cid]
GO
ALTER TABLE [dbo].[Pericia]  WITH CHECK ADD  CONSTRAINT [FK_Pericia_Medico] FOREIGN KEY([fk_MedicoId])
REFERENCES [dbo].[Medico] ([medicoId])
GO
ALTER TABLE [dbo].[Pericia] CHECK CONSTRAINT [FK_Pericia_Medico]
GO
ALTER TABLE [dbo].[Pericia]  WITH CHECK ADD  CONSTRAINT [FK_Pericia_Pessoa] FOREIGN KEY([fk_PessoaId])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[Pericia] CHECK CONSTRAINT [FK_Pericia_Pessoa]
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_Pessoa] FOREIGN KEY([pessoaPai])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [FK_Pessoa_Pessoa]
GO
ALTER TABLE [dbo].[Requisicao]  WITH CHECK ADD  CONSTRAINT [FK_Requisicao_User] FOREIGN KEY([fk_UsuarioId])
REFERENCES [dbo].[User] ([usuarioId])
GO
ALTER TABLE [dbo].[Requisicao] CHECK CONSTRAINT [FK_Requisicao_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Pessoa] FOREIGN KEY([fk_PessoaId])
REFERENCES [dbo].[Pessoa] ([pessoaId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Pessoa]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabela Armazena as Pericias' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pericia'
GO
USE [master]
GO
