@model SISPTD.Models.Processo
    @{ 
        ViewBag.Title = "Processos";
    }
<h3> <i class="fa fa-book"> </i> Processo</h3>
<span class="text-danger pull-right"></span>

@Html.Partial("_Formulario", Model)


@*<a href="#" onclick="history.back()">Voltar</a>*@

 