@model SISPTD.Models.Pessoa
<a title="Detalhes" class="fa fa-bars" href="@Url.Action("Details", "Pessoa", new { id = Model.pessoaId })"></a> |

@if (User.IsInRole("Gerente"))
{
    <a  class="fa fa-pencil " data-toggle="tooltip" data-placement="top" title="Editar" href="@Url.Action("Edit", "Pessoa", new { id = Model.pessoaId })"></a> <i>|</i> 
    <a title="Add Acompanhante" class="fa fa-users" href="@Url.Action("CreateAcompanhante","Pessoa", new {pessoaPai= Model.pessoaId })"></a>

    @*<a title="Delete"  class="glyphicon glyphicon-remove" href="@Url.Action("Delete", "Pessoa" ,new { id = Model.pessoaId })"></a>*@
}
