@model SISPTD.Models.Pessoa
<a class="btn-group btn-sm btn-primary" title="Detalhe" href="@Url.Action("Details", "Pessoa",new { id= Model.pessoaId })" aria-label="Skip to main navigation">
    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
</a>

@if (User.IsInRole("Gerente") || User.IsInRole("Administrador"))
{
    <a class="btn-group btn-sm btn-primary" title="Editar" href="@Url.Action("Edit", "Pessoa",new { id= Model.pessoaId })" aria-label="Skip to main navigation">
        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
    </a>

    <a class="btn-group btn-sm btn-primary" title="Adicionar Acompanhante" href="@Url.Action("CreateAcompanhante", "Pessoa", new { acompanhanteId= Model.pessoaId })" aria-label="Skip to main navigation">
        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
    </a>

 
}
