@model SISPTD.Models.Pessoa
<span class="text-danger pull-right"><i class="glyphicon glyphicon-info-sign "></i> Os campos com o marcador (*)  são de preenchimento obrigatório.</span>
<hr />
@Html.Partial("_Formulario", Model)





@*<a href="#" onclick="history.back()">Voltar</a>*@


