@model SISPTD.Models.Pessoa

<h4><i class="fa fa-book fa-lg"> </i> Cadastro de Funcionario</h4>
<span class="text-danger pull-right"><i class="glyphicon glyphicon-info-sign "></i> Os campos com o marcador (*)  são de preenchimento obrigatório.</span>
<br />
@Html.Partial("_FormFuncionario", Model)


