@model SISPTD.Models.Pessoa
<h3><i class="fa fa-heartbeat" aria-hidden="true"></i> Cadastro de Paciente</h3>
<span class="text-danger pull-right"><i class="fa fa-info-circle "></i> Os campos com o marcador (*)  são de preenchimento obrigatório.</span>
<br />
@Html.Partial("_Formulario", Model)

