
@{
    ViewBag.Title = "Editar Funcionario";
}

@model SISPTD.Models.Pessoa
<h4><i class="fa fa-user fa-lg" aria-hidden="true"></i> Editar Funcionario</h4>
<span class="text-danger pull-right"><i class="fa fa-info-circle "></i> Os campos com o marcador (*)  são de preenchimento obrigatório.</span>
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.pessoaId)
    @Html.Partial("_FormFuncionario", Model)

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

